@tailwind base;
@tailwind components;
@tailwind utilities;

.max-text {
    --max-lines: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.max-text1 {
    --max-lines: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.bg-image {
    background-image: url("./assets/login.jpg");
  }